  <div class="header">
    <ul class="nav nav-pills pull-right">
      <li class="active"><a href="#"><span class='glyphicon glyphicon-home'></span></a></li>
      <li><a href="/tweeds/new"><span class='glyphicon glyphicon-comment'></span></a></li>
      <li><a href="/creators"><span class='glyphicon glyphicon-user'></span></a></li>
    </ul>
    <h3 class="text-muted">Tweed</h3>
  </div>